{% extends "base.html" %} {% block content %}
{% load static %}

<section id="edit-del_page">
<h2>Confirm delete</h2>
<p>Are you sure you want to delete "{{ post.title }}"? :</p>
    <div>
        <p>" {{ post.body }} "</p>
        <!-- Load post image -->
        {% if post.images %}
            <div class="post-images">
                <a href="{% url 'post_detail' post.slug %}">
                    <img src="{{ post.images.url }}" alt="{{ post.title }} image" width="400" />
                </a>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <hr />
            <div id="edit-del_page_btns">
                <button id="edit-del_page_btn">Yes, delete</button>
                <button id="edit-del_page_btn" onclick="window.location.href{% url 'post_detail' post.slug %}">Cancel</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
