{% extends "base.html" %} {% block content %}
{% load static %}
{% load crispy_forms_tags %} 

<section id="edit-del_page">
<h2>Edit Your Post</h2>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form|crispy }}
            <hr />
            <div id="edit-del_page_btns">
                <button id="edit-del_page_btn">Save changes</button>
                <button id="edit-del_page_btn" onclick="window.location.href{% url 'post_detail' post.slug %}">Cancel</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
