{% extends "base.html" %} {% block content %} {% load static %}

<section id="post_detail_page">
    <!-- Header: author info -->
    <section>
        <div id="post-header">
            <div id="author_header">
                <div>
                    <!-- User profile picture -->
                    <img
                        src="{% if post.author.profile_photo %}{{ post.author.profile_photo.url }}{% else %}{% static 'images/PCGF2_default_profile.webp' %}{% endif %}"
                        alt="Profile photo"
                        width="50"
                        height="50"
                    />
                </div>
                <div id="post_user_info">
                    <!-- User info -->
                    <strong id="post_user_name">
                        {{ post.author }}
                        {% if not user %}
                            User with no name
                        {% endif %}
                    </strong>
                    <div>
                        <small>
                            {% if post.author.relation_to_pcgf2 %}
                                Relation: {{ post.author.get_relation_to_pcgf2_display }}
                            {% else %}
                                Relation: No relation to PCGF2 provided.
                            {% endif %}
                        </small>
                    </div>
                    <div>
                        <small>{{ post.time_created|date:"F j, Y, g:i a" }}</small>
                    </div>
                </div>
            </div>

            <!-- edit/delete if owner -->
            <div id="post_management">
                {% if user.is_authenticated and post.author == user %}
                    <div style="margin-top:0.5em;">
                        <a href="{% url 'post_edit' post.slug %}">Edit</a> |
                        <a href="{% url 'post_delete' post.slug %}">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Body: image + body -->
        <div id="post_body">
            <div>
                <h3>
                    <a>{{ post.title }}</a>
                </h3>
            </div>

            <!-- Post text body -->
            <div class="post-text">
                <p>
                    {{ post.body}}
                </p>
            </div>

        <!-- Load post image -->
        {% if post.images %}
            <div class="post-images">
                <a href="{% url 'post_detail' post.slug %}">
                    <img src="{{ post.images.url }}" alt="{{ post.title }} image" width="400" />
                </a>
            </div>
        {% endif %}
    </section>

    <!-- Post likes -->
    <div>
        <form method="post" action="{% url 'post_like_toggle' post.slug %}">
            {% csrf_token %} 
            {% if post.liked_by_user %}
            <button id="post_like_button"><span>❤️ likes ({{ post.likes_count }})</span></button>
            {% else %}
            <button id="post_like_button"><span>🤍 likes ({{ post.likes_count }})</span></button>
            {% endif %}
        </form>
    </div>

    <hr />

    <!-- Add Comment Form -->
    <section id="add_comment">
    <h2>Join the conversation</h2>
        {% if user.is_authenticated %}
        <div>
            <form method="post" action="{% url 'post_detail' post.slug %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button id="add_comment_btn">Add Comment</button>
                </div>
            </form>
        </div>
        
        {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
        {% endif %}
    </section>

    <hr />

    <!-- Comments -->
    <section >
        <h3>Comments ({{ comments.count }})</h3>
        {% for comment in comments %}
            <section id="comment_box">
                <div id="post-header">
                    <div id="author_header">
                        <div>
                            <!-- User profile picture -->
                            <img src="{% if comment.author.profile_photo %}{{ comment.author.profile_photo.url }}{% else %}{% static 'images/PCGF2_default_profile.webp' %}{% endif %}" alt="Profile photo" width="50" height="50"/>
                        </div>
                        <div id="post_user_info">
                            <!-- User name -->
                            <strong id="post_user_name">
                                {{ comment.author }}
                                {% if not user %}
                                    User with no name
                                {% endif %}
                            </strong>
                            <div>
                                <small>
                                    {% if post.author.relation_to_pcgf2 %}
                                        Relation: {{ post.author.get_relation_to_pcgf2_display }}
                                    {% else %}
                                        Relation: No relation to PCGF2 provided.
                                    {% endif %}
                                </small>
                            </div>
                            <div>
                                <small>{{ comment.created_on|date:"F j, Y, g:i a" }}</small>
                            </div>
                        </div>
                    </div>

                    <!-- edit/delete if owner -->
                    <div id="post_management">
                        {% if user.is_authenticated and post.author == user %}
                                <a href="{% url 'comment_edit' post.slug comment.id %}">Edit</a> |
                                <a href="{% url 'comment_delete' post.slug comment.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <p>{{ comment.body|linebreaks }}</p>

                <!-- Load comment image -->
                {% if comment.images %}
                    <div class="comment-images">
                        <a>
                            <img src="{{ comment.images.url }}" alt="Comment image by {{ comment.author }}" width="400" />
                        </a>
                    </div>
                {% endif %}
            

                <div>
                    <!-- Comment likes -->
                    <div>
                        <form method="post" action="{% url 'comment_like_toggle' comment.id %}">
                            {% csrf_token %}
                            {% if comment.liked_by_user %}
                            <button id="comment_like_button">❤️ likes ({{ comment.likes_count }})</button>
                            {% else %}
                            <button id="comment_like_button">🤍 likes ({{ comment.likes_count }})</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </section>

        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </section>

</section>

{% endblock %}
