{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Profile header -->
<section id="profile-header">
  <div>
    <img src="{% if profile.profile_photo %}{{ profile.profile_photo.url }}{% else %}{% static 'images/PCGF2_default_profile.png' %}{% endif %}" 
    alt="Profile photo of {{ profile.first_name }}" 
    width="100" 
    height="100">
  </div>
  <div>
    <h1>
      {{ user }}
      {% if not user %}
          User with no name
      {% endif %}
    </h1>
    {% if profile.relation_to_pcgf2 %}
      <p>Relation to PCGF2: {{ profile.get_relation_to_pcgf2_display }}</p>
    {% endif %}
    {% if user.is_authenticated and user == profile.user %}
        <a href="{% url 'profile_edit' %}">Edit</a>
    {% endif %}
  </div>
</section>


<!-- Bio -->
<section id="bio">
  <p>{{ profile.bio|default:"No bio provided." }}</p>
</section>


<!-- User's post feed -->
<section id="feed">
  <h2>Posts</h2>

</section>

{% endblock %}
