{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Navigation bar -->
     <header>
        <div>
            <img src="" alt="Site icon">
            <span>Turnpenny-Fry Syndrone (PCGF2)</span>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'forum' %}">Forum</a></li>
                <li><a href="https://www.facebook.com/groups/600061436853671" target="_blank" rel="noopener" aria-label="Facebook Group">FB Group</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </nav>
     </header>

    <!-- Page Content -->
    <main>
    {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; {{ year }} Turnpenny-Fry Syndrone (PCGF2). All rights reserved.</p>
    </footer>
</body>
</html>
