{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h2>The Unique Turnpenny-Fry Syndrone (PCGF2)</h2>
        <p>One in a 160 million</p>
    </div>
</section>

<!-- About link section -->
<section class="about_section">
    <div class="about_section_content">
        <h3>Learn about Turnpenny-Fry Syndrone</h3>
        <button id="home-button" onclick="window.location.href='{% url 'about' %}'">
            More About PCGF2 Here
        </button>
    </div>
</section>

<!-- Forum link section -->
<section class="forum_section">
    <div class="forum_section_content">
        <h3>The PCGF2 Forum</h3>
        <button id="home-button" onclick="window.location.href='{% url 'forum' %}'">
            Join the Discussion!
        </button>
    </div>
</section>

<!-- Facebook group link section -->
<section class="fbgroup_section">
    <div class="fbgroup_section_content">
        <h3>The PCGF2 Facebook group</h3>
        <button id="home-button" onclick="window.open('https://www.facebook.com/groups/600061436853671', '_blank')" rel="noopener" aria-label="Facebook Group">
            Join the Group Here
        </button>
    </div>
</section>


{% endblock %}
